body {
    font-family: Arial;
    margin: 20px;
    background-color: #f4f6f8;
}

nav {
    background-color: #2c7be5;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    color: #333;
}

table {
    width: 60%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

form {
    width: 300px;
    background: white;
    padding: 15px;
    border-radius: 5px;
}
